body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.formulario-cadastro {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin: 10px 0 5px;
}

/* Campos de entrada */
.nome-produto,
.product-quantity,
.nome-fornecedor,
.data-recebimento,
.data-validade {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    display: flex;
    gap: 10px; /* espaço entre os botões */
    justify-content: center; /* centraliza os botões horizontalmente */
    margin-top: 10px;
}

.submit-button,
.cancel-button {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
}

.submit-button {
    background-color: #2563EB;
}

.submit-button:hover {
    background-color: #1d50c1;
}

.cancel-button {
    background-color: #DF7067;
}

.cancel-button:hover {
    background-color: #c95e56;
}
