* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: rgb(80, 160, 235);

}

/*HEADER*/

header
{
    display: flex;
    background-color: rgba(241, 239, 239, 0.911);
}

header a
{
    text-decoration: none;
    justify-content: space-between;
}

header button
{
    background-color: rgb(224, 207, 128);
    padding: 15px;
    border-radius: 20px;
}
