/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


/* CONFIGURAÇÃO GLOBAL */
*{  
    max-width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(80, 160, 235);
    font-family: 'Inter', sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 40px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
}


.logo,
.autenticacao {
    flex: 1;
}

.logo {
    display: flex;
    justify-content: flex-start;
    transition: color 0.3s ease;
}


.logo h1 {
    font-family: 'Merriweather', serif;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 22px;

}

.logo:hover {
    color: rgb(80, 160, 235);
}


.logo img {
    max-height: 40px;
    align-self: center;
}

.links {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.links>a {
    color: black;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.2s ease;
}

.links>a:hover {
    color: rgb(62, 101, 185);
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.frase-efeito
{
    color: black;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.2 ease;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.dropdown a
{
    color: black;
}
.dropdown-conteudo
{   
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    z-index: 1;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 4px;
}

.dropdown-conteudo a
{
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-conteudo a:hover
{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-conteudo
{
    display: block;
}

.dropdown:hover .dropdown-button
{
    color: rgb(62, 101, 185);

}

.autenticacao {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-login {
    background-color: transparent;
    padding: 10px 18px;
    margin-right: 40px;
    border: 1px solid rgba(67, 68, 73, 0.123);
    border-radius: 2%;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    color: #2B77C0;
}

.btn-cadastro
{
    background-color: #3d8dd8;
    color: white;
    padding: 10px 18px;
    border-radius: 2%;
    font-size: 15px;
}

.btn-login:hover {
    box-shadow: 0px 0.5px 1px  rgb(129, 123, 123);
    
}

.btn-cadastro:hover
{   
    background-image: linear-gradient(to bottom, #2B77C0, #1c53c9);
}


/*MAIN*/

.conteudo_principal
{
    position: relative;
}
/*ARTIGO APRESENTATIVO*/

.video-apresentativo {
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    max-height: 800px;
    overflow: hidden;
    position: relative;
}

.background-video {
    display: block;
    width: 97%;
    height: 100%;
    object-fit: cover;
}

.titulo-sobreposto {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    padding: 20px;
    z-index: 1;
}

.frase-efeito {
    font-size: larger;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;

}

.personalizar-efeito {
    color: #2B76BE;
}

/*ARTIGO SOBRE */

.artigo-sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: white;
    padding: 40px 60px;
    gap: 60px;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.artigo-sobre h2 {   
    flex: 1;
    margin: 0;
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.74);
    text-align: right;  
    line-height: 1.3;
}

.artigo-sobre p {   
    flex: 2;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;  
    font-weight: 300;
    line-height: 2.0;
    color: #1d1c1c;
    margin: 0;
    text-align: justify; 
    
}

.linha-vertical {
    width: 4px;
    height: 350px; 
    background-color: #1c53c9;
    flex-shrink: 0;
}

/*DIV TRANSITIVO*/

.titulos-transitivos
{      
    font-family: 'Roboto Condensed', sans-serif;
    margin: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitulo-transitivo
{   color: white;
    font-weight: 500;
    margin-bottom: 10px;
}

.titulo-transitivo
{   
    font-weight: 800;
    color: rgb(0, 0, 0);
}
/*ARTIGO BENEFICIOS*/

.artigo-beneficios
{   
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 350px;
    justify-content: center;
    align-content: center;
    gap: 20px;
    
}

.itens {
    box-shadow: 0px 1px 6px rgb(41, 40, 40);
    background-color: white;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    text-align: center;

}

.itens p
{   
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: large;
    max-width: 350px;

    
}

.logo-beneficio {
    
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    
    

}

.titulo-beneficio {
    font-family: 'Roboto Condense', sans-serif;
    margin: 10px 0 20px 0;
    text-align: center;
}


/*ARTIGO DESENVOLVEDORES*/


/*FOOTER*/
.rodape
{   
    position: relative;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    
}

.linha-tracejada
{
    width: 70%;
    border-top: 1px solid rgb(35, 121, 179);
    margin-bottom: 20px;
}

.conteudo-footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
}

.p-footer
{
    color: rgb(35, 121, 179);
    font-family: italic;
    font-size: small;
    font-family: "Merriweather", serif;
    margin-bottom: 0px;
}

.div-final
{   
    font-size: small;
    opacity: 1;
    color: rgba(0, 0, 0, 0.815);
    padding: 0px;
    width: 200%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.copyright
{ 
    color: gray;
}

.titulo-carrousel
{   
    font-size: xx-large;
    font-family: 'Inter', sans-serif;
    color: #2B76BE;
}
@keyframes slide
{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translate(-50%);
    }
}

.logo-puc
{   margin-top: 0px;
    margin-bottom: 10px;
    height: 100px;    
}

.logos
{
    overflow: hidden;
    padding: 60px 0 60px 0 ;
    background: white;
    white-space: nowrap;
}

.logos-slide img
{
    height: 40px;
    margin: 0 40px;
}

.logos-slide
{   
    display: inline-block;
    animation: 20s slide linear infinite;
}